*{
    font-family: "Poppins", sans-serif;
}
.banner{
    background-image: url(./img/slider.jpg);
    background-size: cover;
    padding: 250px 0;
    background-repeat: no-repeat;
}
.Skills-padding{
    padding: 60px 0;
}